# Environment Variables.
# Copy this file to `.env` and enter your personal configuration details.

# Stripe API keys.
# Use your test keys for development and live keys for real charges in production.
# For non-card payments like iDEAL, live keys will redirect to real banking sites.
STRIPE_PUBLISHABLE_KEY=pk_test_51HeGEoBWDUX8KDvl79ZpagD2xZc33CyHeBjcmk5LFjBFcK8MMANL6VkEifQxKmaFufztFNIlcm1ugM6P5UTOhn7C00aOHangaA
STRIPE_SECRET_KEY=sk_test_51HeGEoBWDUX8KDvlhkcjlN6TmzrnMsi44kDVIkD7f4h7hhA9VqhiO4o5H6hJxLjik2QFWd3qoWwRBbSViYWrDHDC00FuR4FgDm

# Stripe webhook secret.
# Setting the webhook secret is good practice in order to verify signatures.
# After creating a webhook, click to reveal details and find your signing secret.
STRIPE_WEBHOOK_SECRET=

# Stripe account country (required for Payment Request).
STRIPE_ACCOUNT_COUNTRY=ID

# Optional ngrok configuration for development (if you have a paid ngrok account).
NGROK_SUBDOMAIN=
NGROK_AUTHTOKEN=
